{% extends 'template.html' %}
{% block title %}个人中心{% endblock %}


{% block main %}
<div class="container">
    
    <form class="form form-inline">
        <div class="input-group"><h3>关系网络</h3></div>
        <div class="input-group float-right h3">
            <a href="/index" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> 去找高校</a>
        </div>
    </form>

    <svg class="social-net" width="900" height="600"></svg>

    <form class="form form-inline">
        <div class="input-group"><h3>联系列表</h3></div>
        <div class="input-group float-right h3 margin-left-20">
            <span id="create-relation" class="btn btn-default"> <i class="glyphicon glyphicon-plus"></i> 创建联系人</span>
        </div>    
        <div class="input-group float-right h3">
            <input id="search-name-input" type="text" class="form-control" placeholder="搜索联系人">
            <span id="search-name" class="input-group-addon glyphicon glyphicon-search"></span> 
        </div>
        <div id="reset-search" class="input-group float-right h3" style="display:none">
                <span class="btn btn-default"><i class="glyphicon glyphicon-repeat"></i> 重置搜索</span>
            </div>
    </form>
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>企业</th>
                <th>部门</th>
                <th>联系人</th>
                <th>联系方式</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="relation_list">
            
        </tbody>
    </table>
</div>


<!-- 添加联系人模态框 -->
<div class="modal fade" id="addContractModal">
    <div class="container">
        
        <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        
        <div class="page-header">
            <h2 class="text-center" id="operation-title">添加联系人信息</h2>
        </div>
        <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name_level_one" class="col-sm-2 control-label">企业名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name_level_one" placeholder="请输入企业名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name_level_two" class="col-sm-2 control-label">部门名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name_level_two" placeholder="请输入部门名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contract_name" class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="contract_name" placeholder="请输入联系人姓名">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="link_method" class="col-sm-2 control-label">联系方式</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="link_method" placeholder="电话/邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="remark" class="col-sm-2 control-label">备 &nbsp; 注</label>
                    <div class="col-sm-10">
                        <textarea name="remark" maxlength="80" id="remark" rows="5" placeholder="备注信息，最长80字"></textarea>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submit-connect" class="btn btn-info btn-block">确认提交</button>
                    </div>
                </div>
            
            
            <input type="hidden" id="modify-relation-id">
        </form>
    </div>

</div>

<!-- 确定删除关系的模态框 -->
<div class="modal fade" id="delRelationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除记录</h4>
            </div>
            <div class="modal-body">确定删除本条记录？</div>
            <input type="hidden" id="relation-id">
            <div class="modal-footer">
                <button type="button" class="btn btn-" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="deleteRelationBtn">确认删除</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/relation.js') }}"></script>
<script src="{{ url_for('static', filename='js/relation_agent.js') }}"></script>

<script type="text/javascript">
    // 用于保存关系图的数据
    var GRAPH_DATA = undefined;

    let url = '/api/agent/relation';
    //获取用户名
    let username = d3.select('#username');
    let self = {"name": username.text()};

    let svg = d3.select('.social-net');
    let relationGraph = new RelationGraph(svg);
    //字段映射
    // let mapping = ['name_level_one', 'name_level_two', 'contract_name', 'link_method', 'remark', 'create_time'];
    //用于更新联系列表
    let relation_list = d3.select('#relation_list');
    //异步获取数据
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: loadDataSuccess,
    });
    function loadDataSuccess(json_data) {
        GRAPH_DATA = json_data;
        
        let handled_data = handle_school_agent_relations(self, json_data);
        console.log(handled_data);
        relationGraph.setData(handled_data);
        //更新联系列表
        updateAgentRelationList(json_data);
    }
</script>
{% endblock %}