{% extends './components/managerHeader.html' %}
{% block title %}管理员页面{% endblock %}

{%  block head %}
        <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
        <script src="../static/resources/flat-ui-2.2.2-dist/js/vendor/jquery.min.js"></script>
        <script src="../static/resources/bootstrap3/js/bootstrap.min.js"></script>
        <script  src="../static/resources/flat-ui-2.2.2-dist/js/flat-ui.min.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="../static/resources/layer/layer.js"></script>
{% endblock %}

{% block main %}
    <h1>dd</h1>
{% endblock %}