{% extends 'template.html' %}
{% block title %}学者信息{% endblock %}

{%  block head %}
    <link href="../static/css/schoolScholar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
    <div id="search-container" class="search-area container searched">
        <div class="imglog">
            <img src="../static/images/Polaris.png" />
        </div>

        <form  action="/search"  method="POST" class="navbar-form search-form text-center" onsubmit="return checkForm1(this);">

            <div  class="form-group">
                <input type="text" id="simple-input" name="simple-input" placeholder="请输入关键字" class="form-control">
            </div>
            <button class="btn btn_color" type="submit" id = 'search-btn'>搜索</button>

        </form>

    </div>

    <div class="container search-container">
        <div class="part1">根据关键词 <b>"{{ keyword }}"</b>，为您推荐 <b> {{ number }}</b> 名专家</div>
        <ul>
            {% for name,values in intstitutions.items()  %}
            <li>
                <div class="college">{{ name }}</div>
                <div class="tags">
                    <ul class="search-pill">
                        <li>{{ values['info']['NKD_NUM'] }}个重点学科</li>
                        <li>{{ values['info']['SKL_NUM'] }}个国家重点实验室</li>
                        <li>{{ values['info']['ACADEMICIAN_NUM'] }}个院士</li>
                    </ul>
                </div>
                <div class="scholar">
                    <ul class="search-person">
                        {%  for teacher in values['teachers'] %}
                        <li>
                            <div class="row">
                                <div class="col-lg-3" style="text-align:center;">
                                    <div id="image">郑</div>
                                </div>
                                <div class="col-lg-9">
                                    <p>{{ teacher['NAME'] }}</p>
                                    <ul class="search-perpendicular">
                                        <li>{{ teacher['YEAROLD'] }}</li>
                                        <li>{{ teacher['TITLE'] }}</li>
                                        <li>{{ teacher['ACADEMICIAN'] }}</li>
                                        <li>{{ teacher['OUTYOUTH'] }}</li>
                                        <li>{{ teacher['CHANGJIANG'] }}</li>
                                    </ul>
                                    <ul class="search-pill">
                                        <li>{{ teacher['FIELDS'] }}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}