{% extends './components/schoolHeader.html' %}
{% block title %}个人中心{% endblock %}


{% block main %}
<div class="container">
    <h3>关系网络</h3>
    <div class="social-net"></div>
    <h3>联系列表</h3>
    <div class="list">
        <table class="table table-hover">
            <tr>
                <td>学校</td>
                <td>学院</td>
                <td>联系人</td>
                <td>备注</td>
                <td>联系方式</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>南京大学</td>
                <td>计算机学院</td>
                <td>周志华</td>
                <td>人工智能学院院长</td>
                <td>11111111</td>
                <td><button type="button" class="btn btn-danger" onclick="javascript:this.form.action='delete'";>删除</button>
                <button type="button" class="btn btn-info" >修改</button></td>
            </tr>
        </table>
    </div>
    
</div>

{% endblock %}
