{% extends 'template.html' %}
{% block title %}个人中心{% endblock %}


{% block main %}
<div class="container">
    <h3>关系网络</h3>
    <div class="social-net"></div>
    <h3>联系列表</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>学校</th>
                <th>学院</th>
                <th>联系人</th>
                <th>联系方式</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="contract_list">
            <tr>
                <td>南京大学</td>
                <td>计算机学院</td>
                <td>周志华</td>
                <td>11111111</td>
                <td>人工智能学院院长</td>
                <td>2019/3/3</td>
                <td>
                    <button type="button" class="btn btn-danger">删除</button>
                    <button type="button" class="btn btn-info" >修改</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

{% endblock %}
