{% extends 'template.html' %}
{% block title %}学者信息{% endblock %}

{%  block head %}
    <link href="../static/css/schoolScholar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
    <div id="search-container" class="search-area container searched">
        <div class="imglog">
            <img src="../static/images/Polaris.png" />
        </div>

        <form  action="/agent/search"  method="POST" class="navbar-form search-form text-center" onsubmit="return checkForm1(this);">

            <div  class="form-group">
                <input type="text" id="simple-input" name="simple-input" placeholder="请输入关键字" class="form-control">
            </div>
            <button class="btn btn_color" type="submit" id = 'search-btn'>搜索</button>

        </form>


    </div>

    <div class="container search-container">
        <div class="part1">根据关键词 <b>"{{ keyword }}"</b>，为您推荐 <b> {{ number }}</b> 名专家</div>
        <ul>
            {% for name,values in intstitutions.items()  %}
                {% if values['teachers']|length > 0  %}
                <li>
                <div class="college">{{ name }}</div>
                {% if values['info']['NKD_NUM'] > 0 or values['info']['SKL_NUM'] > 0 or values['info']['ACADEMICIAN_NUM'] > 0%}
                    <div class="tags">
                        <ul class="search-pill">
                            {% if values['info']['NKD_NUM'] > 0 %}
                                <li>{{ values['info']['NKD_NUM'] }}个重点学科</li>
                            {% endif %}
                            {% if values['info']['SKL_NUM'] > 0 %}
                                <li>{{ values['info']['SKL_NUM'] }}个国家重点实验室</li>
                            {% endif %}
                            {% if values['info']['ACADEMICIAN_NUM'] > 0 %}
                                <li>{{ values['info']['ACADEMICIAN_NUM'] }}个院士</li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                <div class="scholar">
                    <ul class="search-person">
                        {%  for teacher in values['teachers'][0:3] %}
                            {% if teacher['FIELDS'] %}
                        <li>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3" style="text-align:center;">
                                    <div id="image">{{  teacher['NAME'][0]}}</div>
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-9">
                                    <p>{{ teacher['NAME'] }}</p>
                                    <ul class="search-perpendicular">
                                        {% if teacher['YEAROLD'] %}
                                            <li>{{ teacher['YEAROLD'] }}岁</li>
                                        {% endif %}
                                        {% if teacher['TITLE'] %}
                                            <li>{{ teacher['TITLE'] }}</li>
                                        {% endif %}
                                        {% if teacher['ACADEMICIAN'] == 1 %}
                                            <li>院士</li>
                                        {% endif %}
                                        {% if teacher['CHANGJIANG'] == 1 %}
                                            <li>长江学者</li>
                                        {% endif %}
                                        {% if teacher['OUTYOUTH'] == 1 %}
                                            <li>杰出青年</li>
                                        {% endif %}

                                    </ul>
                                    <ul class="search-pill">
                                        {% for i in teacher['FIELDS'][0:5] %}
                                        <li>{{ i }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


{% endblock %}