{% extends './components/schoolHeader.html' %}
{% block title %}学者信息{% endblock %}

{%  block head %}
        <link href="../static/css/schoolScholar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
    <div class="container">
        <div class="part1">根据关键词 "计算机"，为您推荐 6 名专家</div>
        <ul>
            <li>
                <div class="college">计算机学院</div>
                <div class="tags">
                    <ul class="search-pill">
                        <li>1个国家重点学科</li>
                        <li>2位院士</li>
                        <li>3位杰青</li>
                        <li>4位长江学者</li>
                    </ul>
                </div>
                <div class="scholar">
                    <ul class="search-person">
                    <li>
                        <div class="row">
                            <div class="col-lg-3" style="text-align:center;">
                                <div id="image">郑</div>
                            </div>
                            <div class="col-lg-9">
                                <p>郑龙玉</p>
                                <ul class="search-perpendicular">
                                    <li>36岁</li>
                                    <li>副教授</li>
                                    <li>中国工程院院士</li>
                                    <li>长江学者</li>
                                    <li>杰出青年</li>
                                </ul>
                                <ul class="search-pill">
                                    <li>成虫产卵</li>
                                    <li>产卵行为</li>
                                    <li>肠道微生物</li>
                                    <li>行为影响</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-3" style="text-align:center;">
                                <div id="image">郑</div>
                            </div>
                            <div class="col-lg-9">
                                <p>郑龙玉</p>
                                <ul class="search-perpendicular">
                                    <li>36岁</li>
                                    <li>副教授</li>
                                    <li>中国工程院院士</li>
                                    <li>长江学者</li>
                                    <li>杰出青年</li>
                                </ul>
                                <ul class="search-pill">
                                    <li>成虫产卵</li>
                                    <li>产卵行为</li>
                                    <li>肠道微生物</li>
                                    <li>行为影响</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>

            </li>

            <li>
                <div class="college">计算机学院</div>
                <div class="tags">
                    <ul class="search-pill">
                        <li>1个国家重点学科</li>
                        <li>2位院士</li>
                        <li>3位杰青</li>
                        <li>4位长江学者</li>
                    </ul>
                </div>
                <div class="scholar">
                    <ul class="search-person">
                    <li>
                        <div class="row">
                            <div class="col-lg-3" style="text-align:center;">
                                <div id="image">郑</div>
                            </div>
                            <div class="col-lg-9">
                                <p>郑龙玉</p>
                                <ul class="search-perpendicular">
                                    <li>36岁</li>
                                    <li>副教授</li>
                                    <li>中国工程院院士</li>
                                    <li>长江学者</li>
                                    <li>杰出青年</li>
                                </ul>
                                <ul class="search-pill">
                                    <li>成虫产卵</li>
                                    <li>产卵行为</li>
                                    <li>肠道微生物</li>
                                    <li>行为影响</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-3" style="text-align:center;">
                                <div id="image">郑</div>
                            </div>
                            <div class="col-lg-9">
                                <p>郑龙玉</p>
                                <ul class="search-perpendicular">
                                    <li>36岁</li>
                                    <li>副教授</li>
                                    <li>中国工程院院士</li>
                                    <li>长江学者</li>
                                    <li>杰出青年</li>
                                </ul>
                                <ul class="search-pill">
                                    <li>成虫产卵</li>
                                    <li>产卵行为</li>
                                    <li>肠道微生物</li>
                                    <li>行为影响</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>

            </li>
        </ul>
    </div>


{% endblock %}