{% extends 'template.html' %}

{% block title %}专家详情{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/detail.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row row-area">
            <div class="col-sm-3 col-md-2 col-lg-2 img-container">
                <div id="image">{{  info['name'][0]}} </div>
            </div>
            <div class="col-sm-9 col-md-10 col-lg-10 scholar-info">
                <!-- 内容 -->
                <div class="scholar-name"> <strong> <a href="#" > {{ info['name'] }}</a>  </strong> </div>
                <div class="scholar-depart">{{ school_name }} - {{ college_name }}</div>
                <div class="scholar-tags">
                    {% if info['yearsold'] %}
                        <span>{{ info['yearsold'] }}岁</span>
                    {% endif %}
                    {% if info['title'] != '未知' %}
                        <span>{{ info['title'] }}</span>
                    {% endif %}
                    {% if info['OUTYOUTH'] %}
                        <span>杰出青年</span>
                    {% endif %}
                    {% if info['CHANGJIANG'] %}
                        <span>长江学者</span>
                    {% endif %}
                </div>
                <div class="scholar-depart">
                    {% if info['email'] %}
                        邮箱：{{ info['email'] }}
                    {% endif %}
                </div>
                {% if info['eduexp'] %}
                <div class="scholar-depart">
                教育背景：{{ info['eduexp'] }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- 词云 -->
        <div class="row row-area justify-content-center">
            <svg id="word-cloud" class="col-lg-12" width="900" height="450" ></svg>
        </div>

        <!-- 关系网 -->
        <div class="row row-area justify-content-center">
            <svg id="relation-net" class="col-lg-8" width="900" height="450"></svg>
        </div>

        <!-- 成果：论文，项目，专利 -->
        <div class="row row-area" style="border-bottom:none">
            <ul class="nav nav-tabs">
                <li class="active" >
                    <a href="#paper-list" data-toggle="tab"> 
                        <i class="glyphicon glyphicon-book"></i> 论文成果({{ papers | length }})</a>
                </li>
                <li>
                    <a href="#project-list" data-toggle="tab">
                        <i class="glyphicon glyphicon-tasks"></i> 科研项目(0)</a>
                </li>
                <li>
                    <a href="#patent-list" data-toggle="tab">
                        <i class="glyphicon glyphicon-hdd"></i> 发明专利(0)</a>
                </li>
            </ul>
        <div class="tab-content">
            <ul class="tab-pane fade in active" id="paper-list">
                {% for paper in papers %}
                <li> <div class="inline-block">
                        <i class="glyphicon glyphicon-book"></i> 《{{ paper['name'] }}》
                    </div>
                    <div class="inline-block">
                        <span>发表自{{ paper['org'] }}</span>   引用次数：<span>{{ paper['cited_num'] }}</span>
                        作者:
                        <span>
                        {% for partner in paper['partners'] %}
                            {{ partner }}
                        {% endfor %}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <ul class="tab-pane fade in" id="project-list">
            </ul>
            <ul class="tab-pane fade in" id="patent-list">
            </ul>
        </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wordcloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/relation.js') }}"></script>
    <script type="text/javascript">
        //处理词云
        let FIELDS = {{ info['fields'] | safe}};
        console.log("词云 's length is ", FIELDS.length);
        //获取合伙人
        let PARTNERS = {{ partners | safe}};
        let TEACHER_ID = {{ info['id'] }};
        let TEACHER_NAME = "{{ info['name'] }}";
        console.log(PARTNERS);
    </script>
    <script src="{{ url_for('static', filename='js/teacher_detail.js') }}"></script>
{% endblock %}

</html>