{% extends './components/header.html' %}
{% block title %}首页{% endblock %}

{%  block head %}
        <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
    <div id='app'>
        <div class="search-area container" v-bind:class="{ searched : has_searched}">
            <div class="imglog">
                <img src="../static/images/Polaris.png" />
            </div>
            <div class="collapse navbar-collapse">
            <form  v-cloak role="search" class="navbar-form search-form text-center">

                <div  class="form-group">
                        <input type="text" id="simple-input"  onkeydown="return ClearSubmit(event)"  placeholder="请输入关键字"
                                v-on:keydown.enter="go_search" v-model="keyword" class="form-control">

                    <ul class="text-center hot-key">
                        <li v-for="key in hot_key_list">
                            <a href="#" @click='search_hot_word($event)'>
                                {{key}}
                            </a>
                        </li>
                    </ul>


                    <!-- 隐藏的提示区 -->
                    <ul id="hide-tip" class="display_none" v-bind:class="{display_block : show_hide_tip}">
                        <li v-for="word in associative_words_list">
                            <a href="#" @click='search_hot_word($event)'>
                                {{word}}
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn_color" type="button" @click='go_search()'>搜索</button>
            </form>
        </div>

    </div>


    <div id="map-d3" class="container display_none" v-bind:class="{display_block : has_searched}">
{#        <ul id="topList">#}
{#            <li>清华大学</li>#}
{#            <li>清华大学</li>#}
{#            <li>清华大学</li>#}
{#            <li>清华大学</li>#}
{#            <li>清华大学</li>#}
{#        </ul>#}
    </div>

</div>

<div class="footer navbar-fixed-bottom">
    <p class="copyright">&copy;copyright@ 2019 东南大学 Five五团队</p>
</div>

<script src="../static/resources/flat-ui-2.2.2-dist/js/vendor/jquery.min.js"></script>
<script src="../static/resources/bootstrap3/js/bootstrap.min.js"></script>
<script  src="../static/resources/flat-ui-2.2.2-dist/js/flat-ui.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/resources/layer/layer.js"></script>

{% endblock %}
