{% extends 'template.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block main %}
    <!-- 搜索区 -->
    <div id="search-container" class="search-area container">
        <div class="imglog">
            <img src="../static/images/Polaris.png" />
        </div>

            <form  role="search" class="navbar-form search-form text-center">

                <div  class="form-group">

                    <input type="text" id="simple-input"  placeholder="搜索" class="form-control">

                    <ul id="hot-key-list" class="hot-key" style="padding-left:0px;">
                        <li data='123'> 计算机 </li>
                        <li data='123'> 玻璃 </li>
                        <li data='123'> 人工智能 </li>
                        <li data='123'> 数据挖掘 </li>
                        <li data='123'> 人工智能 </li>
                        <li data='123'> 数据挖掘 </li>
                    </ul>


                    <!-- 隐藏的提示区 -->
                    <ul id="hide-tip" class="display_none">
                        <li data='123'>23456</li>
                        <li data='123'>23456</li>
                        <li data='123'>23456</li>
                        <li data='123'>23456</li>
                    </ul>


                </div>
                <button class="btn btn_color" type="button" id = 'search-btn'>搜索</button>
            </form>

    </div>


    <div id="map-d3-container" class="container display_none">
        <svg></svg>

        <ul id="breadcrumb"></ul>
        <ul id="top_list"></ul>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}