<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d3-关系图</title>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/relation.js') }}"></script>
    <script src="{{ url_for('static',filename='resources/jquery/jquery.min.js') }}"></script>
    <style>
        #tooltip {
            background:rgba(0,0,0,0.9);
            position: absolute;
            text-align: center;
            margin: 10px;
            border:1px solid grey;
            pointer-events: none;
            border-radius:5px;
            font-size:12px;
            width:auto;
            padding:4px;
            color:white;
            opacity:0;
        }
        #sample{
            fill: none;
            stroke: brown;
            stroke-width: 2;
        }
    </style>
</head>
<body>
    <svg width="800" height="600"></svg>
</body>
<script type="text/javascript">
    let width = 800;
    let height = 800;

    let svg = d3.select('svg');
    let relationGraph = new RelationGraph(svg);
    //异步调用
    let urls = ['/api/teacher/relation', '/api/institution/relation'];
    let data = [{teacher_id: 137950}, {school_id: 17134, institution_id: 577}];
    let index = 0;

    $.ajax({
        url: urls[index],
        type: 'POST',
        data: data[index],
        dataType: 'json',
        success: function (json_data) {
            console.log(json_data);
            relationGraph.setData(json_data);
        }
    });
</script>
</html>