<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-专家发现系统</title>
    <link href="{{ url_for('static',filename='css/public.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='resources/bootstrap3/css/bootstrap.min.css') }}" />
    
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}{% endblock %}
</head>

<body>
    <header role="navigation" class="navbar navbar-default">
        <nav class="container">
            <div class="navbar-header">
                <a href="/" id="logo" class="navbar-brand">
                    <img src="{{ url_for('static',filename='images/logo-new.png') }}"/>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                        {% if user["TYPE"] == '1' %}
                            <li><a href="javascript:void(0);">欢迎你， {{ user["NAME"] }}</a></li>
                            <li  id="username"><a href="{{ url_for('agent.govern_personal') }}">个人中心</a></li>
                            <li><a href="{{ url_for('user.logout') }}">注销</a></li>
                        {% else %}
                            <li><a href="javascript:void(0);">欢迎你， {{ user["NAME"] }}</a></li>
                            <li  id="username"><a href="{{ url_for('agent.school_personal') }}">个人中心</a></li>
                            <li><a href="{{ url_for('user.logout') }}">注销</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ url_for('user.login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
        
    </main>
    <div class="alert-container">
        <div class="alert alert-error">
            {% if error %}
                <div id="error-msg"></div>
            {% endif %}
            
        </div>
    </div>
    <footer>
        <div class="copyright container">&copy;copyright 2019 东南大学 Five五团队</div>
    </footer>

    <script src="{{ url_for('static',filename='resources/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='resources/bootstrap3/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/public.js') }}"></script>

    {% block script %}{% endblock %}
</body>
</html>