<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>专家发现系统</title>
        
        <link href="../static/css/public.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" href="../static/resources/bootstrap3/css/bootstrap.min.css" />
        
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <!-- header -->
    <nav role="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="#" id="logo" class="navbar-brand ">
                    <img src="../static/images/logo-new.png"/>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" >发布需求</a>
                    </li>
                    <li>
                        <a href="{{ url_for('index') }}">d3</a>
                    </li>
                    <li>
                    <a href="#">项目介绍</a>
                </li>
                </ul>
            </div>

        </div>
    </nav>        
    <div id="map-d3-container" class="container">
        <div class="row">
            <div id="map" style="width: 100%;height: 500px"></div>
            <ul id="breadcrumb"></ul>
            <ul id="top_list"></ul>
        </div>
    </div>
<script src="../static/resources/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js"></script>

<script type="text/javascript">
    //TODO:假数据 注意，数据库中的省份不带有省/市
    let data = [
        {'school': '南京大学', 'address':[ '中国', '江苏省', '南京市'], 'weight': 92, 'longitude':118.966713 , 'latitude': 32.122396},
        {'school': '东南大学', 'address':[ '中国', '江苏省', '南京市'], 'weight': 90, 'longitude':118.961851 , 'latitude': 32.125119},
        //{'school': '南京大学', 'address':[ '中国', '江苏省', '南京市'], 'weight': 92, 'longitude': 118.825176 , 'latitude': 31.889893},
        {'school': '清华大学', 'address':[ '中国', '北京市', '北京市'], 'weight': 71, 'longitude':116.342122, 'latitude': 39.999281},
        ];
    let myChart = echarts.init(document.getElementById("map"));
    myChart.showLoading();
    $.get('/mapdata/china.json', function (json_data)
    {
        let geoJson = json_data['geoJson']
        let data = json_data['data']
    myChart.hideLoading();
    echarts.registerMap('china', geoJson);
    myChart.setOption(option = {
        title: {
            text: '中国地图',
        },
        tooltip: {
            trigger: 'item',
            formatter: '{b}<br/>{c} (p / km2)'
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                dataView: {readOnly: false},
                restore: {},
                saveAsImage: {}
            }
        },
        visualMap: {
            min: 0,
            max: 50000,
            text: ['High', 'Low'],
            realtime: false,
            calculable: true,
            inRange: {
                color: ['lightskyblue', 'yellow', 'orangered']
            }
        },
        series: [
            {
                name: '香港18区人口密度',
                type: 'map',
                mapType: 'china', // 自定义扩展图表类型
                label: {
                    show: true
                },
                data: data,
            }
        ]
    });
});
</script>
</body>
</html>
