 .topic{
            margin:auto;
            width:1900px;
            height:100px;
            text-align: center;
            line-height: 100px;
            font-size: 50px;
        }
 .main{
     background-color: #befaff;
 }