<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>个人信息</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='css/detail.css') }}">
    <link rel="shortcut icon" href="https://i.loli.net/2019/03/01/5c793fac24054.jpg">
</head>

<body>

    <nav class="navbar navbar-me">
        <div class="container">
            <div class="navbar-header">
                <a class="nav-logo" href="javascript:void(0)">
                    <img src="../static/seu-logo.jpg">专家发现系统</a>
            </div>
        </div>
    </nav>

    <div class="main">
        <div class="per-info">
            <div class="per-info-title">ABOUT HIM</div>
            <div class="per-info-content">
                <div class="per-info-content-title">个人信息</div>
                <div class="teacher-name">姓名</div><div class="teacher-name-c">周志华</div>
                <div class="teacher-school">学校</div><div class="teacher-school-c">南京大学</div>
                <div class="teacher-title">职称</div><div class="teacher-title-c">教授</div>
                <div class="teacher-email">邮箱</div><div class="teacher-email-c">1111111111@qq.com</div>
                <div class="teacher-url">个人主页</div>
                <div class="teacher-url-c"><a href="https://baike.baidu.com/item/%E5%91%A8%E5%BF%97%E5%8D%8E/32542?fr=aladdin">https://baike.baidu.com/item/%E5%91%A8%E5%BF%97%E5%8D%8E/32542?fr=aladdin</a></div>
                <div class="teacher-field">专业领域</div>
                <div class="teacher-field-c">机器学习，数据挖掘</div>
            </div>
        </div>

        <div class="social-net">
            <div class="social-net-title">SOCIAL-NET</div>
            <div class="little1">合作网络</div>
            <div class="social-net-image"></div>

            <div class="little2">相关学者</div>
            <div class="refresh">
                <a href="homepage1.html"><i class="glyphicon glyphicon-refresh"></i>换一批</a>
            </div>
            <div class="recommend">
                <ul>
                    <li>
                        <div class="close-tea-group">
                            <div class="close-tea-image"><img src="/static/teacher.png" style="width: 100%" /></div>
                            <div class="close-tea-name"><a href="homepage1.html"> 周志华</a></div>
                            <div class="close-tea-school">北京航天航空大学</div>
                            <div class="close-tea-college">人工智能学院</div>
                            <div class="close-tea-field">领域：机器学习，数据挖掘</div>
                        </div>
                    </li>
                    <li>
                        <div class="close-tea-group">
                            <div class="close-tea-image"><img src="/static/teacher.png" style="width: 100%" /></div>
                            <div class="close-tea-name"><a href="homepage1.html"> 周志华</a></div>
                            <div class="close-tea-school">南京大学</div>
                            <div class="close-tea-college">人工智能学院</div>
                            <div class="close-tea-field">领域：机器学习，数据挖掘</div>
                        </div>
                    </li>
                    <li>
                        <div class="close-tea-group">
                            <div class="close-tea-image"><img src="/static/teacher.png" style="width: 100%" /></div>
                            <div class="close-tea-name"><a href="homepage1.html"> 周志华</a></div>
                            <div class="close-tea-school">南京大学</div>
                            <div class="close-tea-college">人工智能学院</div>
                            <div class="close-tea-field">领域：机器学习，数据挖掘，机器学习，数据挖掘，机器学习，数据挖掘，机器学习，数据挖掘，机器学习，数据挖掘</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ach">
            <div class="ach-title">ACHIEVEMENTS</div>
            <div class="ach-total">
                <table>
                    <tr>
                        <td style="text-align: right;font-weight: bold"> 成果:</td>
                        <td style="color: #0d14ff;text-align: left">&nbsp;&nbsp;1</td>
                        <td style="text-align: right;font-weight: bold">论文:</td>
                        <td style="color: #0d14ff;text-align: left">&nbsp;&nbsp;1</td>
                        <td style="text-align: right;font-weight: bold;width: 100px">被引用数:</td>
                        <td style="color: #0d14ff;text-align: left;width: 50px">&nbsp;&nbsp;1</td>
                        <td style="text-align: right;font-weight: bold">项目:</td>
                        <td style="color: #0d14ff;text-align: left">&nbsp;&nbsp;1</td>
                    </tr>
                </table>
            </div>
            <div class="paper-label"></div>
              <div class="paper">
                <ul>
                    <li>
                        <div class="paper-group">
                            <div class="paper-name"><a  href="{{ url_for('detail') }}">古典语文学家如何书写历史?——从尼采案例引申出的教训</a></div>
                            <div class="paper-publisher">世界哲学</div>
                            <div class="paper-year">2017</div>
                            <div class="paper-keyword">谱系学,浪漫主义</div>
                        </div>
                    </li>

                    <li>
                        <div class="paper-group">
                            <div class="paper-name"><a  href="{{ url_for('detail') }}">古典语文学家如何书写历史?——从尼采案例引申出的教训</a></div>
                            <div class="paper-publisher">世界哲学</div>
                            <div class="paper-year">2017</div>
                            <div class="paper-keyword">谱系学,浪漫主义</div>
                        </div>
                    </li>

                    <li>
                        <div class="paper-group">
                            <div class="paper-name"><a  href="{{ url_for('detail') }}">古典语文学家如何书写历史?——从尼采案例引申出的教训</a></div>
                            <div class="paper-publisher">世界哲学世界哲学世界哲学世界哲学</div>
                            <div class="paper-year">2017</div>
                            <div class="paper-keyword">谱系学,浪漫主义世界哲学世界哲学世界哲学世界哲学</div>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="project">
                <ul>
                    <li>
                        <div class="pro-group">
                            <div class="pro-name">第8届国际材联先进材料国际会议，金属硅化物科学及未来技术分会</div>
                            <div class="pro-money">1.4百万</div>
                            <div class="pro-year">2003</div>
                            <div class="pro-level">一级，二级，三级</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    <footer class="container page-footer navbar-fixed-bottom" id="bottom">
        <!-- Copyright -->
        <div class=" text-center">&copy;2019 Copyright:
          <a href="javascript:void(0)"> Five五</a>
        </div>
    </footer>
</div>
</body>
</html>