span{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 400px;
}

.social-net{
    width: 1000px;
    height: 700px;
    border: 2px solid rgba(203, 210, 219, 0.82);
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
}



.list{
    width: 1000px;
    margin-top: 20px;
    margin-left: 400px;
}

#person-list{
    color: black;
}
