/* 通用样式 */
body,html{
	height:100%;
	width:100%;
}

.btn_color{
	background-color:#00d3d4;
	color:#fff
}
ul li{
	list-style: none;
	cursor: pointer;
}


/* header */
.navbar #logo{
	padding: 2px;
}


/* footer */
.footer { 
	background-color: #fff; 
	position: absolute;
	height: 30px;
	/*
		 保证 footer 不会覆盖 body 中的内容
		 缺点： 一定会有滚动条
		 TODO： 待优化
	 */
	bottom: -40px;
	left: 0;
	right: 0;
}

.footer .copyright { 
	text-align: center;
	color: #787878;
	font-size: 12px;
	line-height: 30px;
}


/* Tool */
.display_none{
	display: none;
}
.display_block{
	display: block;
}

[v-cloak]{ 
	display: none; 
}