body{
    background-color: #ffffff;
    color: black;
}

.search-area{
    width: 900px;
	margin:0 auto ;
}

/* 搜索区域中的 logo  */
.search-area .imglog{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

.search-area .imglog img{
	display:block;
	height:100%;
}

#search-container.searched .search-form{
	display: inline-block!important;
}
#search-container.searched .search-form{
	padding: 0;
}

.search-area input{
	height: 40px!important;
}
.search-area  #simple-input{
	width: 600px;
}


.search-area .search-form{
	padding-bottom: 0px;
	text-align: center;
    margin-left: 10px;
}
.search-area .form-group{
	position: relative;
    margin-left: 20px;
}

/* 与 search-area 平级的 searched 类 */
#search-container.searched > .imglog{
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
}
#search-container.searched .search-form{
	display: inline-block!important;
	margin-left: 10px;
}
#search-container.searched .search-form{
	padding: 0;
}

.search-container{
    border: 1px solid #000000;
    background-color: white;
    margin-top: 20px;
}

.part1{
    width:750px;
    height: 100px;
    margin-left: 10px;
    line-height: 100px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #000000;

}

.college{
    width: 750px;
    height: 60px;
    margin-top: 5px;
    border-bottom: 1px solid #b9b0a3;
    line-height: 60px;
    color: black;
    font-size: 20px;
}

.tags{
    width: 750px;
    height: auto;
    margin-top: 5px;
    font-size: 18px;
    border-bottom: 1px solid #b9b0a3;
    color: #000;
    padding-bottom: 5px;
}

.scholar{
    width: 750px;
    height: auto;
    margin-top: 5px;
    border-bottom: 1px solid #000000;
}



ul li{
    padding: 1px 5px!important;
    font-size: 15px;
}

#image{
    text-align:center;
    width:100px;
    height:100px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #00a0e9;
    font-size: 40px;
    color: white;
    line-height: 100px;
}

ul.search-person>li:hover{
    -moz-box-shadow:0px 0px 0px #FFFFFF, 0px 5px 5px #F0F0F0;
    -webkit-box-shadow:0px 0px 0px #FFFFFF, 0px 5px 5px #F0F0F0;
    box-shadow:0px 0px 0px #FFFFFF, 0px 5px 5px #F0F0F0;
    cursor: auto;
}

.search-container {
    width:900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.search-head{
    padding-top:20px;
}
.search-head p{
    font-size:18px;
    font-weight:600;
}

.search-neck p{
    font-size:16px;
    font-weight:550;
    padding-left:55px;
}

.search-neck ul{
    padding-left:85px
}

.search-li{
    border-bottom:solid 1px transparent;
    border-color: #888888;
    margin-top:none;
}

.search-li:last-child{
    border-bottom:none;
    margin-top:none;
}


ul.search-pill{
    padding-top:5px;
    padding-left: 0px;
}

ul.search-pill li{
    display:inline-block;
    border:solid 1px transparent;
    border-color: #d0d0d0;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding: 1px 5px!important;
}



ul.search-perpendicular{
    padding-top:5px;
    padding-left: 0px;
}

ul.search-perpendicular li{
    display:inline-block;
    border-right:solid 1px transparent;
    border-color: #d0d0d0;
    margin-right: 5px;
    margin-bottom: 4px;
    padding: 1px 10px 1px 5px!important;
}

ul.search-perpendicular li:last-child{
    border-right:none;
}

ul.search-line{
    margin-top:5px;
}

ul.search-person>li{
    margin-top:31px;
    border-bottom:solid 1px transparent;
    border-color: #f0f0f0;
}

ul.search-person>li:last-child{
    border-bottom:none;
}



ul.search-person p{
    font-size:16px;
    font-weight:600;
}

ul.search-more{
    margin-bottom: 10px;
    margin-left: 46px;
    width: 878px;
    line-height:25px;
}

ul.search-more>li{
    margin-bottom: 10px;
}

ul.search-more div{
    font-size:16px;
}

ul.search-more li{
    margin-left:10px;
}

ul.search-text{
    margin-left:15px;
}

