<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='dataTool.js') }}"></script>
</head>

<body>
    <div id="main" style="width:900px;height:600px;">
    </div>
    <label hidden="hidden" id="base_url" value="{{ url_for('user_homepage', user_id=1)}}"></label>
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'), 'macarons');
    myChart.showLoading();

    /*
        获取所需要的option
     */
    function getOption(graphInfo, emphasisLineWidth) {
        graphInfo.nodes.forEach(function (node) {
            node.x = node.y = null;
            node.draggable = true;
        });
        title = graphInfo['title'];
        nodes = graphInfo['nodes'];
        links = graphInfo['links'];
        // 确定每条边的宽度
        //获取最大权值
        maxWeight = 0;
        links.forEach(function (edge) {
            if (maxWeight < edge.weight)
                maxWeight = edge.weight;
        });
        links.forEach(function (edge) {
            edge.lineStyle = {};
            // 等比例缩放行宽度
            edge.lineStyle.width = edge.weight / maxWeight * (emphasisLineWidth - 4);
        });
        categories = graphInfo['categories'];
        color = graphInfo['color'];
        //设置option样式
        option = {
            title: {
                text: title,
                x: "right",
                y: "bottom"
            },
            // 弹框
            tooltip: {
                trigger: 'item',
                formatter: function (param) {
                    if (param.dataType == 'edge'){
                        //console.log(param);
                        return "合作次数" + param.data.weight + "次";
                    }
                    //悬浮在节点上时显示的内容,目前仅仅显示名称
                    else if (param.dataType == 'node'){
                        return param.name;
                    }
                    return param.name;
                }
            },
            color: color,
            toolbox: {
                show: true,
                feature: {
                    restore: {show: true},
                    magicType: {show: true, type: ['force', 'chord']},
                    saveAsImage: {show:true}
                }
            },
            legend: {
                x: 'left',
                data: categories.map(function (a) {
                    return a.name;
                })
            },
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    name: title,
                    ribbonType: false,
                    categories: categories,
                    useWorker: false,
                    minRadius: 15,
                    maxRadius: 25,
                    gravity: 1.1,
                    scaling: 1.1,
                    roam: true,
                    nodes: nodes,
                    links: links,
                    // 鼠标移动到节点上时突出显示节点
                    focusNodeAdjacency: true,
                    hoverAnimation: true,
                    force: {
                        repulsion: 100,
                        gravity: 0.03,
                        edgeLength: 80,
                        layoutAnimation: true
                    },
                    // 节点大小 可以是数值或者函数
                    symbolSize: function (value, params){
                        return value[0] * 5;
                    },
                    label: {
                        show: true
                    },
                    nodeStyle: {
                        brushType: 'both',
                        borderColor: 'rgba(255,215,0,0.4)',
                        borderWidth: 1
                    },
                    lineStyle: {
                        //线的弯度
                        curveness: 0.3
                    },
                    emphasis: {
                        itemStyle: {
                            borderWidth: 4
                        },
                        label: {
                            show: false
                        },
                        lineStyle: {
                            width: emphasisLineWidth
                        }
                    }
                }
            ]
        };
        return option;
    }
    // 添加点击事件
    myChart.on('click', {dataType: 'node'}, function (param) {
        //获取链接
        var base_url_element = $('#base_url');
        var value = base_url_element.attr('value');
        var lastIndex = value.lastIndexOf('/');
        var base_url = value.slice(0, lastIndex);
        //TODO:跳转 需要视图函数和id
        var id = param.value[1];
        window.open(base_url + '/' + id);
    });
    // 尝试获取数据
    //测试数据 data/teacher.json
    $.get('database/1', function (jsondata) {
        myChart.hideLoading();
        option = getOption(jsondata, 10);
        console.log(jsondata);
        myChart.setOption(option);
    }, 'json');
    </script>
</body>
</html>